﻿Page{
    background-color: #FFFFFF;
    font-size: 17; 
    background-image: ~/images/back5.jpg;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}  

Label{
   color: #000000;
    font-size: 17;
    font-style: normal;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
}
Button{
    /*background-image: ~/images/orange.jpg;*/
    background-color: white;
    font-family: "Times New Roman", Times, serif;
    color:  #000000;
    font-size: 17;
    font-style: normal;
    font-weight: bold;
}
ActionBar {
    background-color:  #FF8000;
    color: #000000;
}

