﻿Page{
    font-size: 17;
} 
TextField {
    margin: 10;
    padding: 10;
    color:  #000000;
}
Image {
    margin-top: 20;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 30;
}

Label{
    color: #000000;
    margin: 5;
    padding: 0;
}
ActionBar{
    font-size: 23;
    font-family: "Times New Roman", Times, serif;
    background-color:  #FF8000;
    color: #000000;
}

.action-label{
    color: : #000000;
    font-size: 24;
    font-weight: bold;
    vertical-align: center;
}
