﻿Label{
   color: #000000;
    font-size: 17;
    font-style: normal;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
}
.menu{
    font-family: 'icomoon';
    font-size: 25;
    color: #FF8000;
}

.btn{
    background-color: #FF8000;
    font-family: "Times New Roman", Times, serif;
    color:  white; 
    font-size: 17;
    font-style: normal;
    font-weight: bold;
} 
.drawer-content {
  background-color: #FF8000;
  padding-top: 5;
  margin: 0 70 0 5;
}
.drawer-content Label {
    font-size: 13;
    margin: 10 10 20 10;
   color: white;
   text-align: left;
}
ActionBar{
    font-size: 16;
    font-family: "Times New Roman", Times, serif;
    background-color:  white;
    color: #000000;
}.drawer-content {
  background-color: #FF8000;
  padding-top: 5;
  margin: 0 80 0 5;
}
.drawer-content Label {
    font-size: 16;
    margin: 10 10 20 10;
   color: white;
   text-align: left;
}
