﻿TextField {
    margin: 5 50 5 50;
    color:  #bf672b;
    background-color: white;
}
Image {
    margin: 15 50 100 50;
}
.lbl{
    color: white;
}
ActivityIndicator{
    color: white;
}   
Page {
    font-size: 17;
    background-image: ~/images/Background.png;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: "Times New Roman", Times, serif;
}  
.login{ 
    background-color: #ffffff;
    margin: 10 15 7 15;
}      
.btn{
    margin-top: 30;
    font-weight: bold;
    font-style: normal;
    background-color:#994d00;
    font-family: "Times New Roman", Times, serif;
    color: white ;
    margin: 10 55 10 55;
} 


 

