﻿Page{
    background-color: #FFFFFF;
    font-size: 17; 
   /* background-image: ~/images/back5.jpg;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/
}  

Label{
   color: #000000;
    font-size: 17;
    font-style: normal;
    /*font-weight: bold;*/
    font-family: "Times New Roman", Times, serif;
} 
.btn{
    /*background-image: ~/images/orange.jpg;*/
    background-color: #FF8000;
    font-family: "Times New Roman", Times, serif;
    color:  white; 
    font-size: 17;
    font-style: normal;
    font-weight: bold;
}
ActionBar{
    font-size: 16;
    font-family: "Times New Roman", Times, serif;
    background-color:  white;
    color: #000000;
}
.menu{
    font-family: 'icomoon';
    font-size: 25;
    color: #FF8000;
}

