﻿Page{
    background-color: #FFFFFF;
    font-size: 17; 
    /*background-image: ~/images/back5.jpg;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/
}  

.comp_name{
    font-size: 23;
    font-style: italic;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    color: #000000;
    text-shadow: 2px 2px #FF0000;
}
.menu{
    font-family: 'icomoon';
    font-size: 25;
    color: #FF8000;
}
.icon{ 
  color: #000000;
  font-size: 18;
  font-style: normal;
  font-family: 'icomoon';
}
NavigationButton{
  color: #FF8000;
} 
Label{
   color: #000000;
    font-size: 18;
    font-style: normal;
    font-family: "Times New Roman", Times, serif;
}  
.bal{
  margin: 10 20 10 20;
  color:  #000000;
  font-size: 18;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}

ActionBar{
    font-size: 16;
    font-family: "Times New Roman", Times, serif;
    background-color:  white;
    color: #000000;
}
.drawer-content {
  background-color: #FF8000;
  padding-top: 5;
  margin: 0 70 0 5;
}
.drawer-content Label {
    font-size: 13;
    margin: 10 10 20 10;
   color: white;
   text-align: left;
}
.action-image {
  color: #FF8000;
  width: 100;
  height: 40;
  vertical-align: center;
}
.action-label {
    color:  #696969;
    font-size: 18;
    font-weight: bold;
}
.logo{
  margin:  10 60 10 60;
  vertical-align: center;
  border-radius: 70%;
}
