﻿Page{
    background-color: #FFFFFF;
    font-size: 17; 
    /*background-image: ~/images/back5.jpg;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/
}  
.menu{
    font-family: 'icomoon';
    font-size: 25;
    color: #FF8000;
}
Label{
   color: #000000;
    font-size: 17;
    font-style: normal;
    font-family: "Times New Roman", Times, serif;
}
ActivityIndicator{
    color: #FF8000;
} 
.btn{
    background-color: #FF8000;
    font-family: "Times New Roman", Times, serif;
    color:  white; 
    font-size: 17;
    font-style: normal;
    font-weight: bold;
}
ActionBar{
    font-size: 16;
    font-family: "Times New Roman", Times, serif;
    background-color:  white;
    color: #000000;
}
.logo{
  margin:  10 60 10 60;
  vertical-align: center;
  border-radius: 70%;
}

